h1
{
color: noir;
font-size: 28px;
font-family: impact, georgia, serif;
text-decoration: blink;
font-weight: bold;
}
body
{
border: 15%;
color: noir;
font-size: 15px;
font-family: comic sans ms, georgia, serif;
text-decoration: blink;
}